In [224]:
import cPickle as pickle
import pandas as pd, numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [225]:
train = pd.read_csv('./train.csv')
train1 = pd.read_csv('./train_created.csv')
twitter = pd.read_csv('./final/twitter_hate.csv')

In [226]:
twitter.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [ ]:
 train1[(train1['toxic'] == 0) & (train1['severe_toxic'] == 0) & (train[1'obscene'] == 0) & (train1['threat'] == 0) 
                     & (train1['insult'] == 0) & (train['identity_hate'] == 0)].count()

In [227]:
train_plain =  train[(train['toxic'] == 0) & (train['severe_toxic'] == 0) & (train['obscene'] == 0) & (train['threat'] == 0) 
                     & (train['insult'] == 0) & (train['identity_hate'] == 0)]

In [228]:
train_plain.count()

id               143346
comment_text     143346
toxic            143346
severe_toxic     143346
obscene          143346
threat           143346
insult           143346
identity_hate    143346
dtype: int64

In [189]:
murder = train[train['comment_text'].apply(lambda x: 'murder' in x) & ((train['toxic'] == 1) | (train['severe_toxic'] == 1) | (train['obscene'] == 1) | (train['threat'] == 1) 
                     | (train['insult'] == 1) | (train['identity_hate'] == 1))]
shoot = train[train['comment_text'].apply(lambda x: 'shoot' in x) & ((train['toxic'] == 1) | (train['severe_toxic'] == 1) | (train['obscene'] == 1) | (train['threat'] == 1) 
                     | (train['insult'] == 1) | (train['identity_hate'] == 1))]
kill = train[train['comment_text'].apply(lambda x: 'kill' in x) & ((train['toxic'] == 1) | (train['severe_toxic'] == 1) | (train['obscene'] == 1) | (train['threat'] == 1) 
                     | (train['insult'] == 1) | (train['identity_hate'] == 1))]
bomb = train[train['comment_text'].apply(lambda x: 'bomb' in x) & ((train['toxic'] == 1) | (train['severe_toxic'] == 1) | (train['obscene'] == 1) | (train['threat'] == 1) 
                     | (train['insult'] == 1) | (train['identity_hate'] == 1))]

In [190]:
burn = train[train['comment_text'].apply(lambda x: 'burn' in x) & ((train['toxic'] == 1) | (train['severe_toxic'] == 1) | (train['obscene'] == 1) | (train['threat'] == 1) 
                     | (train['insult'] == 1) | (train['identity_hate'] == 1))]

In [191]:
rape = train[train['comment_text'].apply(lambda x: 'rape' in x) & ((train['toxic'] == 1) | (train['severe_toxic'] == 1) | (train['obscene'] == 1) | (train['threat'] == 1) 
                     | (train['insult'] == 1) | (train['identity_hate'] == 1))]

In [192]:
rape.count()

id               144
comment_text     144
toxic            144
severe_toxic     144
obscene          144
threat           144
insult           144
identity_hate    144
dtype: int64

In [193]:
school = train[train['comment_text'].apply(lambda x: 'school' in x) & ((train['toxic'] == 1) | (train['severe_toxic'] == 1) | (train['obscene'] == 1) | (train['threat'] == 1) 
                     | (train['insult'] == 1) | (train['identity_hate'] == 1))]

In [194]:
teacher = train[train['comment_text'].apply(lambda x: 'teacher' in x) & ((train['toxic'] == 1) | (train['severe_toxic'] == 1) | (train['obscene'] == 1) | (train['threat'] == 1) 
                     | (train['insult'] == 1) | (train['identity_hate'] == 1))]

In [195]:
teacher.count()

id               31
comment_text     31
toxic            31
severe_toxic     31
obscene          31
threat           31
insult           31
identity_hate    31
dtype: int64

In [196]:
school.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
590,018e6f1e1b18723a,"""\n\n Another crap article \nParrots what prom...",1,0,0,0,0,0
746,020316a0de9e0406,"""You know, I was thinking...\n\nNobody really ...",1,1,1,0,0,0
884,026a530134212936,"""\n\n I TAKE OFFENSE! \n\nI take great offense...",1,0,0,0,0,0
1361,03b209cb784d7a36,"""\n\nNo! This is a GROUP EFFORT! Wikipedia i...",1,0,1,0,0,0
2678,0735c7334d85c6aa,Issues with Knox \n\nKnox run things like Gala...,0,0,1,0,1,0

In [197]:
train1[(train1['toxic'] == 0) & (train1['severe_toxic'] == 0) & (train1['obscene'] == 0) & (train1['threat'] == 0) 
                     & (train1['insult'] == 0) & (train1['identity_hate'] == 0)].count()

Unnamed: 0       311
id               311
comment_text     311
toxic            311
severe_toxic     311
obscene          311
threat           311
insult           311
identity_hate    311
dtype: int64

In [198]:
train1.count()

Unnamed: 0       408
id               408
comment_text     408
toxic            408
severe_toxic     408
obscene          408
threat           408
insult           408
identity_hate    408
dtype: int64

In [199]:
print murder.count()
print shoot.count()
print kill.count()
print bomb.count()

id               66
comment_text     66
toxic            66
severe_toxic     66
obscene          66
threat           66
insult           66
identity_hate    66
dtype: int64
id               55
comment_text     55
toxic            55
severe_toxic     55
obscene          55
threat           55
insult           55
identity_hate    55
dtype: int64
id               359
comment_text     359
toxic            359
severe_toxic     359
obscene          359
threat           359
insult           359
identity_hate    359
dtype: int64
id               48
comment_text     48
toxic            48
severe_toxic     48
obscene          48
threat           48
insult           48
identity_hate    48
dtype: int64

In [200]:
school = school.sample(n=50)

In [201]:
rape = rape.sample(n=60)

In [202]:
burn = burn.sample(n=50)

In [203]:
bomb = bomb.sample(n=48)
murder.count()

id               66
comment_text     66
toxic            66
severe_toxic     66
obscene          66
threat           66
insult           66
identity_hate    66
dtype: int64

In [204]:
shoot_50 = shoot.sample(n=50)
shoot_50.count()

id               50
comment_text     50
toxic            50
severe_toxic     50
obscene          50
threat           50
insult           50
identity_hate    50
dtype: int64

In [207]:
murder_50 = murder.sample(n=50)
murder_50.count()

id               50
comment_text     50
toxic            50
severe_toxic     50
obscene          50
threat           50
insult           50
identity_hate    50
dtype: int64

In [208]:
kill_sample = kill.sample(n=150)
kill_sample.count()

id               150
comment_text     150
toxic            150
severe_toxic     150
obscene          150
threat           150
insult           150
identity_hate    150
dtype: int64

In [209]:
murder_50.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
141208,f3850c01254d69d1,""":A certain admin will block you if you tell t...",1,0,0,0,0,0
24371,405bda134182afc4,"""\n\nThis article is ludicrous, it paints anti...",1,0,1,0,1,0
100818,1b9bf71b6c587ac5,Tariq Aziz is a lapsed Christian and so hardly...,1,0,0,0,1,0
152093,87d6a69592aa936e,EVula you may have blocked my friends but you ...,1,0,0,1,0,0
157239,dae9e1bad382cb37,F' you turk\n\nit is funny you have to live in...,1,0,1,0,1,1

In [210]:
toxic_plain = pd.concat([train1,bomb,kill_sample,shoot,murder,rape,school,teacher])

In [211]:
del toxic_plain['Unnamed: 0']

In [212]:
toxic_plain.count()

comment_text     868
id               868
identity_hate    868
insult           868
obscene          868
severe_toxic     868
threat           868
toxic            868
dtype: int64

In [213]:
toxic_plain[toxic_plain["comment_text"].apply(lambda a:"murder" in a)]['comment_text'
].iloc[0:48]

173       "\n\n#2 Richard 20:53 20Feb\nYeah, so the prob...
124593    I didn't initiate the attacks, just responded ...
107692    Nazis murdered six million of my people. Why s...
67410     I am going to kill you. I am going to murder you.
655       Wikipedia administrators are defending a mass-...
877                          Fuck off you murdering scum!!!
2533      "\n\nI like the way you forget about all the t...
4049      "\n\n Barbarians \n\nThe Chinese as a country ...
5654      stop murder \n\nYou are very unfriendly and fa...
8979      I am going to kill you. I am going to murder y...
12256     What are your motivations for Vandalizing arti...
13964     I am going to murder ZimZalaBim ST47 for being...
21733     .\n\nMuhammad was a dirty warmonger, murderer,...
22598     "\n\nYour accusations are false and malicious....
23609     Last warning\n\nNow I will give you a warning ...
24371     "\n\nThis article is ludicrous, it paints anti...
34818     You. \n\nYou're such a sad person, the fact yo...
35988     Hey Defiance- this lady is CRAZY- she only edi...
36713     You fucking piece of shit \n\nI'm going to hun...
37188     become baby killers and mass murderers of toda...
37229     February 2009 (UTC)\nLet's not forget rapist, ...
37626     Who cares? The janjaweed are just a bunch of m...
49087     albert einstine was a foorball player for the ...
55365     I can't believe you fucking wikipedos.  I'm go...
55709     Cause of Death \n\nFuck exicution, put down Mu...
56336                           ritual murder ritual murder
61157     Can you think of a compelling reason... \n\nas...
66580     Mass Murder \nChe Guevara was a mass murderer....
67323     He's not gonna do that and not without good re...
67410     I am going to kill you. I am going to murder you.
70020     "Cut the crap already. Unless you're a pedophi...
72960     "\nNo, sir, this comment is disgusting.  You o...
73693     Mass Murder \nTAB \nChe Guevara was a mass mur...
76499     "\n\nBig Pro-Choice dyke\n\nHey bitch, if you'...
77172     Neda \n\nIts not enough for you to propagate t...
77555     You are absurd. You are defending a page of na...
78285     I will murder your pets and slash your tires. ...
81891     "\nYou are actually trying to goad me into an ...
82785     Sorry Tajik, \nbut an answer was in need. \n\n...
83356     Okay, so anal sex is as widely unaccepted and ...
85608     Anushirvan, Khampalak is just hurted that he i...
85726                          Crapman is a murdering cunt!
87050     In between the rapes, torture and murder I do ...
95823     Milton cooper was a criminal \n\nWhy you defen...
98774     "\n\n stop stupid acusations \nI find it unacc...
100818    Tariq Aziz is a lapsed Christian and so hardly...
101610    Thx for LOL \n\nYou are a steaming, shocking p...
106617    , I hope your retarded kids get anal raped and...
Name: comment_text, dtype: object

In [214]:
toxic_plain=toxic_plain.sample(frac =1).reset_index(drop = True)

In [215]:
toxic_plain.count()

comment_text     868
id               868
identity_hate    868
insult           868
obscene          868
severe_toxic     868
threat           868
toxic            868
dtype: int64

In [216]:
# toxic_plain=toxic_plain[(toxic_plain['toxic'] == 0) & (toxic_plain['severe_toxic'] == 0) & (toxic_plain['obscene'] == 0) & (toxic_plain['threat'] == 0) 
#                      & (toxic_plain['insult'] == 0) & (toxic_plain['identity_hate'] == 0)].sample(n=150)

In [217]:
toxic_plain.count()

comment_text     868
id               868
identity_hate    868
insult           868
obscene          868
severe_toxic     868
threat           868
toxic            868
dtype: int64

In [218]:
toxic_plain.to_csv('/home/ammar/study/8th semester/FYP/toxic comments/final/train_800.csv')

In [221]:
toxic_plain =  toxic_plain[(train['toxic'] == 0) & (toxic_plain['severe_toxic'] == 0) & (toxic_plain['obscene'] == 0) & (toxic_plain['threat'] == 0) 
                     & (toxic_plain['insult'] == 0) & (toxic_plain['identity_hate'] == 0)]

/home/ammar/.local/lib/python2.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [223]:
toxic_plain.count()

comment_text     417
id               417
identity_hate    417
insult           417
obscene          417
severe_toxic     417
threat           417
toxic            417
dtype: int64